input[type=text] {
    margin-left: 40%;
    margin-top: 5%;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://png.icons8.com/search');
    background-size: 40px 40px;
    background-position: 1px 5px;
    background-repeat: no-repeat;
    padding: 12px 15px 12px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  
  
  p { 
    margin-left: 45%;
    margin-top: 1%;
  }